/* основной цвет background: #212121; --title-text-color */

/* неактивные контакты, абзац и вторичный  background: #757575; --primari-text-color */

/* основной фон страницы background: #FFFFFF; --primari-white-color */

/* акцент background: #2196F3;--accent-color */
/* ховер героя backgraund: #188CE8; --hover-button */

/* фон шапки bgrcolor: #ececec; --header-bgrcolor */
/* фон героя и футер background: #2F303A; --hero-bgrcolor */
/* фон команда background: #F5F4FA; --staff-bdrcolor */

/* контакты в футере background: #FFFFFF99;   rgba(0, 0, 0, 0.6); --contact-footer */
/* заховати текст color: #ffffff00; rgba(0, 0, 0, 0); --hide */

:root {
  --title-text-color: #212121;
  --primari-text-color: #757575;
  --primari-white-color: #ffffff;
  --accent-color: #2196f3;
  --header-bgrcolor: #ececec;
  --hero-bgrcolor: #2f303a;
  --staff-bdrcolor: #f5f4fa;
  --contact-footer: #ffffff99;
  --hide: #ffffff00;
  --hover-button: #188ce8;
}

.page {
  width: 1600px;

  background-color: var(--primari-white-color);
  color: var(--primari-text-color);

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
img {
  display: block;
}

/* Header */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Site-nav */
.logo-accent {
  margin-right: -4px;
  color: var(--accent-color);
}
.logo-black {
  color: var(--title-text-color);
}
.logo-white {
  color: var(--primari-white-color);
}

.logo-accent,
.logo-black,
.logo-white {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo {
  display: inline-block;
}
.container.header {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  align-items: center;
}
.link-list,
.contact {
  display: flex;
  margin: 0px;
  padding: 0px;
}
.link-list {
  margin-left: 93px;
}
.link-list .link,
.contact .contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .link {
  color: var(--title-text-color);
}
.link-list li + li {
  margin-left: 50px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.link {
  position: relative;
}
.link::after {
  content: "";

  position: absolute;
  left: 0px;
  bottom: 0px;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  display: none;
}

#studio {
  color: var(--accent-color);
  /* border-bottom: 4px solid var(--accent-color);
  border-radius: 2px; */
}
#studio::after {
  display: block;
}
#portfolio {
  color: var(--accent-color);
  /* border-bottom: -4px solid var(--accent-color);
  border-radius: 2px; */
}
#portfolio::after {
  display: block;
}

/* Contact */

.contact-link {
  display: inline-flex;
  align-items: center;
  color: var(--primari-text-color);
}
.contact li + li {
  margin-left: 50px;
}
.contact {
  margin-left: auto;
}
.contact .contact-link:hover,
.contact .contact-link:focus {
  color: var(--accent-color);
}

.site-nav,
.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.02em;
}

.contact-link::before {
  display: inline-block;
  align-items: center;
  content: "";
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-envelope::before {
  background-image: url(../images/icons.svg#envelope);
}
.icon-smartphfone::before {
  background-image: url(../images/icons.svg#smartphone);
}
a {
  text-decoration: none;
}

/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-icon.jpg);
  background-color: var(--hero-bgrcolor);
}

.hero-title {
  color: var(--primari-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  width: 696px;
  margin: 0px auto 30px auto;
}

/* Section */
.work-list {
  padding-left: 0px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

/* Features */
.section.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  color: var(--title-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
}
.section-title.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  margin-top: 0px;
}
.features-list li {
  width: 270px;
}
.features-list li:not(:nth-last-child(1)) {
  margin-right: 30px;
}
.features-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.features-list .title::before {
  display: block;
  content: "";
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--staff-bdrcolor);
}
.features-list p {
  line-height: 1.71;
}

.icon-antenna::before {
  background-image: url(../images/icon.svg/3_antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/icon.svg/4_clock.svg);
}
.icon-vector::before {
  background-image: url(../images/icon.svg/5_vector.svg);
}
.icon-astronaut::before {
  background-image: url(../images/icon.svg/6_astronaut.svg);
}

/* Work */
.section.work {
  padding-bottom: 94px;
}
.work-list li {
  display: inline-block;
  margin-right: -3px;
}
.work-list li + li {
  margin-left: 30px;
}

/* Staff */
.section.staff {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--staff-bdrcolor);
}
/* .staff-name .staff-person {
  display: inline-block;
  margin-right: -4px;
} */
.staff-person:not(:first-child) {
  margin-left: 30px;
}
.staff-name {
  display: flex;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.staff-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.staff-name .name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}
.staff-name .position {
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}

.social-links {
  display: inline-flex;
  width: 206px;
  height: 44px;
}

.social-links li:not(:nth-of-type()) {
  margin-right: 10px;
}
.social::after {
  display: inline-block;
  content: "";
  width: 44px;
  height: 44px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.instagram::after {
  background-image: url(../images/icon.svg/7_instagram.svg);
}
.twitter::after {
  background-image: url(../images/icon.svg/8_twitter.svg);
}
.facebook::after {
  background-image: url(../images/icon.svg/9_facebook.svg);
}
.linkedin::after {
  background-image: url(../images/icon.svg/10_linkedin.svg);
}

.social-links li:not(:nth-last-child(-n + 1)) {
  margin-right: 30px;
}

/* Footer */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--title-text-color);
}

.logo-footer {
  display: block;
  margin-bottom: 12px;
}
.page-footer .text-info {
  color: var(--primari-white-color);
  font-style: normal;
  line-height: 1.71;
}
.adress-list .info {
  color: var(--contact-footer);
  font-style: normal;
  line-height: 1.71;
}
.adress-list .info:hover,
.adress-list .info:focus {
  color: var(--accent-color);
}
.adress-list {
  padding-left: 0px;
}
.adress-list li + li {
  margin-top: 9px;
}

/* Button */
.button {
  width: 200px;
  height: 50px;

  color: var(--primari-white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;
}
.button:hover,
.button:focus {
  background-color: var(--hover-button);
}

.buttons {
  height: 38px;

  color: var(--title-text-color);
  background-color: var(--staff-bdrcolor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-align: center;
}
.buttons:hover,
.buttons:focus {
  color: var(--primari-white-color);
  background-color: var(--accent-color);
}
/* width buttons */
.buttons.all {
  width: 73px;
}
.buttons.web {
  width: 128px;
}
.buttons.app {
  width: 145px;
}
.buttons.design {
  width: 103px;
}
.buttons.marketing {
  width: 130px;
}
/* PORTFOLIO */
/* Filter */

.filter {
  width: 611px;
  height: 54px;
  margin: 94px auto 34px;
}
.project img {
  margin-bottom: 20px;
}
.project {
  margin-bottom: 94px;
}
.buttons-filter {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

/* Project */
.text-box {
  width: 322px;
  height: 70px;
  margin: 0 24px;
}
.project-name {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  vertical-align: top;
  text-align: left;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 4px;
}

.project-text {
  color: var(--primari-white-color);
}

.project-direction {
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.03em;

  color: var(--primari-text-color);
}

.project-text:hover {
  color: var(--primari-white-color);
  background-color: var(--accent-color);
}
.project-list {
  display: flex;
  flex-wrap: wrap;
}
.project-list li:not(:nth-of-type(3n)) {
  margin-right: 30px;
}
.project-list li:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
